[Unit]
Description=SpigotMC

[Service]
Type=simple
WorkingDirectory=/home/minecraft/apps/spigotserver
ExecStart=java -Xmx1024M -Xms1024M -jar spigot.jar nogui
User=minecraft
Restart=on-failure

[Install]
WantedBy=multi-user.target